<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo"><h2>CRM</h2></div>
        <ul class="menu">
            <li class="active">
                <a href="/vr">
                    <i class="fas fa-chart-line"></i>
                    <span>VR LAND</span>
                </a>
            </li>
            <li>
                <a href="/fid">
                    <i class="fas fa-chart-pie"></i>
                    <span>FID</span>
                </a>
            </li>
            <li>
                <a href="/pme">
                    <i class="fas fa-users"></i>
                    <span>PME</span>
                </a>
            </li>
            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <h2><%= title %></h2>
            </div>
            <div class="user--info">
                <div class="search--box">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="recherche"/>
                </div>
                <img src="public/imge admin.png" alt=""/>
            </div>
        </div>
        <div class="main">
            <div class="cards">
                <div class="card">
                    
                        <div class="card-content">
                            <div class="number"><%= clientCount %></div>
                            <a href="/clients">
                            <div class="card-name">Clients</a></div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-user"></i>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number"><%=  balance %></div>
                        <a href="/solde">
                        <div class="card-name">Solde</a></div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="number"><%= top_clients %></div>
                        <a href="/top-clients">
                            <div class="card-name">Top-Clients</div>
                        </a>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                
                <!-- Add more cards if needed -->
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <h2>VR</h2>
                <canvas id="barchart"></canvas>
            </div>
            <div class="chart" id="doughnut">
                <h2>Top Clients</h2>
                <canvas id="doughnut-chart"></canvas>
            </div>
        </div>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script >
        var ctx = document.getElementById('barchart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Clients", "Solde Total", "Reste du Solde", "Clients Revenants"],
                datasets: [{
                    label: 'Données',
                    data: [<%= clientCount %>, <%= balance %>, <%= remainingBalance %>, <%= returningClients %>],
                    backgroundColor: ['#b91d47', 'pink', '#3357FF', '#F3FF33']
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
    <script>
        // Graphique en doughnut pour les sommes des données des clients
    var ctxDoughnut = document.getElementById('doughnut-chart').getContext('2d');
    new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            labels: ["Total Visites", "Total Jeux"],
            datasets: [{
                label: 'Données des Clients',
                data: [<%= doughnutData.total_visites %>, <%= doughnutData.total_jeux %>],
                backgroundColor: ['#FF6384', 'blue' ],
                hoverBackgroundColor: ['#FF6384', 'blue' ]
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });

    </script>
    
   
</body>
</html>
